@{
    ViewData["Title"] = "HelloWorld";
}

<div class="text-center">
    <h1 class="display-4">WebTest</h1>
    <p>Learn about <a href="https://www.wiseman.co.jp/">医療と介護・福祉のワイズマン</a>.</p>

</div>

<div>
    <h2>ASP.NET Core MVC 試作関連</h2>
    <ul>
        <li><a href="https://localhost:7018/HelloWorld/">HelloWorld</a></li>
        <li><a href="https://localhost:7018/HelloWorld/Welcome?name=Taro&numtimes=4">Welcome</a></li>
        <li><a href="http://192.168.33.41/blog">理解度課題の掲示板(FuelPHP)</a></li>
        <li><a href="https://localhost:7018/blog/blog">理解度課題の掲示板(ASP.Net Core)</a></li>
    </ul>


    <h2>mell関連</h2>
    <ul>
        <li><a href="https://dev.mell-comm.wiseman.ne.jp/">dev.mell-comm</a></li>
        <li><a href="https://dev.mell-tasu.wiseman.ne.jp/">dev.mell-tasu</a></li>
        <li><a href="http://localhost:8000/dashboard/">mell-pro_local（Virtual box）</a></li>
        <li><a href="https://test06.dev.wisemanasp.net/iwproxy/MELL/">MeLL-tasu検証環境（DBはdev環境）</a></li>
        <li><a href="https://admindevmfa.mell-tasu.wiseman.ne.jp/manager/dash/">上記管理サイト</a></li>
    </ul>

    <h2>１課情報共有関連</h2>
    <ul>
        <li><a href="https://wiseman.sharepoint.com/sites/19/Shared%20Documents/Forms/view.aspx?ga=1&viewid=d92c2fe4%2De9ce%2D49ca%2D9b99%2D3fcedd5734df">SharePoint開発一課ドキュメント</a></li>
        <li><a href="http://redmine.web.wisemanasp.net/projects">redmine_PJT管理</a></li>
        <li><a href="https://drive.google.com/drive/u/0/folders/1c8I2JVjKDDY5vAwcr1Ph8LYAM8qV7DO1">山口のGoogleDrive</a></li>
        <li><a href="https://bitbucket.org/dashboard/overview">bitbucketソース管理</a></li>
    </ul>

    <h2>Microsoft　C#関連のドキュメント</h2>
    <ul>
        <li><a href="https://docs.microsoft.com/ja-jp/dotnet/csharp/">【Microsoft】C#関連のドキュメント</a></li>
    </ul>

    <h2>Microsoft　Visual Studio for Macのドキュメント</h2>
    <ul>
        <li><a href="https://docs.microsoft.com/ja-jp/visualstudio/mac/?view=vsmac-2022">【Microsoft】Visual Studio for Macのドキュメント</a></li>
    </ul>

    <h2>開発設計</h2>
    <ul>
        <li><a href="https://qiita.com/NagaokaKenichi/items/0647c30ef596cedf4bf2">RESTful APIとは何なのか</a></li>
        <li><a href="https://zenn.dev/naoki_oshiumi/articles/0467a0ecf4d56a">Repositoryパターンにおける、MVC + Service + Repositoryの役割をもう一回整理してみる</a></li>
        <li><a href="https://qiita.com/os1ma/items/25725edfe3c2af93d735#%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9%E3%83%AB%E3%83%BC%E3%83%AB">「ビジネスロジック」とは何か、どう実装するのか</a></li>
    </ul>

    <h2>ASP.NET Core MVC関連</h2>
    <ul>
        <li><a href="https://docs.microsoft.com/ja-jp/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-6.0&tabs=visual-studio">【Microsoft】ASP.NET Core MVC の概要</a></li>
        <li><a href="https://docs.microsoft.com/ja-jp/aspnet/core/?view=aspnetcore-6.0#pivot=core">【Microsoft】ASP.NET ドキュメント　ASP.NET Core MVC アプリの開発</a></li>
        <li><a href="https://docs.microsoft.com/ja-jp/dotnet/api/system.web.mvc.controllerbase.tempdata?view=aspnet-mvc-5.2">【Microsoft】ControllerBase.TempData プロパティ</a></li>
        <li><a href="https://docs.microsoft.com/ja-jp/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-6.0">【Microsoft】ASP.NET Core のアンカー タグ ヘルパー</a></li>
        <li><a href="https://docs.microsoft.com/ja-jp/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0">【Microsoft】ASP.NET Core Blazor で .NET メソッドから JavaScript 関数を呼び出す</a></li>
        <li><a href="https://www.fenet.jp/dotnet/column/environment/1344/">【ASP.NET Core入門】ASP.NETとの違いやWebアプリの作成手順</a></li>
        <li><a href="https://qiita.com/plusM/items/af82c650138d71be9d15">【ASP.NET Core MVC】ASP.NET Core MVCであみだくじを作ってみる（開発環境の準備）</a></li>
        <li><a href="https://qiita.com/plusM/items/fc23683bd81a0a568f00">【ASP.NET Core MVC】ASP.NET Core MVCであみだくじを作ってみる（ビュー,コントローラーの追加）</a></li>
        <li><a href="https://qiita.com/plusM/items/6a1aac0c1b39533bca95">【ASP.NET Core MVC】ASP.NET Core MVCであみだくじを作ってみる（モデルの追加）</a></li>
        <li><a href="https://qiita.com/plusM/items/f13d2644689531c1c6c1">【ASP.NET Core MVC】ASP.NET Core MVCであみだくじを作ってみる（cssの作成）</a></li>
        <li><a href="https://qiita.com/plusM/items/add1ab06bfb5f9677fea">【ASP.NET Core MVC】ASP.NET Core MVCであみだくじを作ってみる（Razorを使う）</a></li>
        <li><a href="https://qiita.com/plusM/items/a77def9585ba787a3c40">【ASP.NET Core MVC】ASP.NET Core MVCであみだくじを作ってみる（Razorを使う あみだを辿る編）</a></li>
        <li><a href="https://www.qes.co.jp/media/Microservices/a48">ASP.NET Core でAPIを作ってみた</a></li>
        <li><a href="https://hirahira.blog/asp-net-core5-mvc-tutorial-01/">ASP.NET Core MVCのチュートリアルを丁寧にやってみた①（プロジェクトの作成からビューの追加まで）</a></li>
        <li><a href="https://referbruv.com/blog/integrating-mongodb-with-aspnet-core-net-6/">ASP.NETCoreでMongoDBを使用するための簡単なガイド</a></li>
        <li><a href="https://referbruv.com/blog/exploring-aspnet-core-fundamentals-repository-pattern-and-usage-in-ef-core/">ASP.NETCoreおよびEFCoreでリポジトリパターンを使用する方法</a></li>
        <li><a href="https://qiita.com/suganury/items/067ad7c39cab108f6b5b">[.NET][C#]Entity Framework Coreを使用してDBアクセス・ORマッピング</a></li>
        <li><a href="https://www.ipentec.com/document/csharp-razor-pages-tag-helper-ugins-asp-route-id">asp-route-id タグヘルパーを利用する (ASP.NET Core プログラミング)</a></li>
        <li><a href="https://zenn.dev/supino0017/articles/7c597587287bf1">.NET Core MVC RepositoryPatternとDI</a></li>
        <li><a href="https://www.c-sharpcorner.com/article/crud-operations/">CRUD Operations Using ASP.NET MVC and MongoDB</a></li>
    </ul>

    <h2>WPF、XAMLーC#関連</h2>
    <ul>
        <li><a href="https://docs.microsoft.com/ja-jp/dotnet/desktop/wpf/xaml/?view=netdesktop-6.0&viewFallbackFrom=netdesktop-5.0">【Microsoft】XAML の概要 (WPF .NET)</a></li>
        <li><a href="https://quality-start.in/2021/08/window%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0%E3%81%A8wpf%E3%82%92%E9%96%8B%E7%99%BA%E8%80%85%E7%9B%AE%E7%B7%9A%E3%81%A7%E6%AF%94%E8%BC%83%E3%81%99%E3%82%8B">WindowsフォームとWPF両方開発した経験を元に、比較してみる</a></li>
        <li><a href="https://www.sejuku.net/blog/56841">【C#入門】WPFでGUIを作る方法(DataGrid、ComboBox、ListBoxなど)</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E5%8B%95%E7%94%BB%2FCSharp&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト動画 C#</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E5%8B%95%E7%94%BB%2FWebAPI&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト動画 WebAPI</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E5%8B%95%E7%94%BB%2FWPF&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト動画 WPF</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E7%A0%94%E4%BF%AE%E8%B3%87%E6%96%99%2F%E7%A0%94%E4%BF%AE%E8%80%85%E7%94%A8%2FC%23&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト研修資料 C#</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E7%A0%94%E4%BF%AE%E8%B3%87%E6%96%99%2F%E7%A0%94%E4%BF%AE%E8%80%85%E7%94%A8%2FC%EF%BC%832022&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト研修資料 C#2022</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E7%A0%94%E4%BF%AE%E8%B3%87%E6%96%99%2F%E7%A0%94%E4%BF%AE%E8%80%85%E7%94%A8%2FWebAPI&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト研修資料 WebAPI</a></li>
        <li><a href="https://wiseman.sharepoint.com/sites/CWPFSnackLearning/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCWPFSnackLearning%2FShared%20Documents%2F%E7%A0%94%E4%BF%AE%E8%B3%87%E6%96%99%2F%E7%A0%94%E4%BF%AE%E8%80%85%E7%94%A8%2FWPF&viewid=78a544a7%2Dd7c1%2D430d%2Da0c9%2D1a87448d398a">C#WPF研修内製化　スナックラーニングサイト研修資料 WPF</a></li>
    </ul>


    <h2>色々リンク先</h2>
    <ul>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
        <li><a href="">HelloWorld</a></li>
    </ul>


</div>



